body{
    background-image: url(../bootstrap/Imagens/backgroundjo2.jpg);
}

ul{
padding: 0;
}
a:focus{
    color: ghostwhite !important;  
}
.nav-link{
    color: ghostwhite;
}
.nav-link:hover{
    color: black !important;
}

.card{
    width: 32%;
    float: left;
    margin: 5px;
    align-items: center;
    height: auto;
    display: flex;
    
}
input{
    margin-bottom: 1rem;
}
.card-body{
    width: auto;
    float: left;
    text-align: center;
    height: auto;
}
.btn-primary,
.btn-danger,
.btn-success,
.btn-secondary{
    float: center;
    background-color: pink;
    color: #952a6c;
    border-color: #952a6c;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
    align-items: center;
}
h1{
    color: #ee0294;
    background-color: aliceblue;
    opacity: 60%;
    border-radius: 10px;
}
h2{
    text-align: center;
}
.col-md-7,
.col-md-12,
.col-md-6{
    width: 100%;
    align-items: center;
    text-align: center;
}
p{
    text-align: center;
}
header{
    background-color: #952a6c;
    
}
.btn-primary:hover{
    background-color: #952a6c;
    color: pink;
    border-color: pink;
}
.btn-danger:hover{   
    background-color: #952a6c;
    color: pink;
    border-color: pink;
}
.btn-success:hover{
    background-color: #952a6c;
    color: pink;
    border-color: pink;
}
.input-group{
    padding: 2px;
}
label{
    padding: 10px;
    margin: 5px;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    color: #952a6c;
    background-color: aliceblue;

}

.lista-produtos{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.lista-produtos li{
    min-width: 310px;
}
.bg-info{
    background-color: #952a6c !important;
    
}
h5,h2{
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    color: #952a6c;
    background-color: aliceblue;
    border-radius: 10px;
}
#carouselExampleFade{
    border-radius: 20px !important;
}
p{
    color: #952a6c;
    background-color: ghostwhite;
}