

table {
	float: left;
	border: .5px solid ;
	background: #ffffff;
	width: 100%;
	border-collapse: collapse;

}
table tr {
	border: 1px solid #757575;
	padding: 1rem 0;
}

table tbody tr:nth-child(odd) {
	background-color: rgba(20, 25, 65, .5);
}

table tbody tr:hover {
	background-color: rgba(0, 0, 255, .2);
}

table th,
table td {
	padding: 1rem;
	font-size: 1.6rem;
	text-align: right;
	vertical-align: middle;
	text-align: right;
	border: .5px solid ;
}

table tr td:first-child {
	text-align: left;
	font-weight: bold;
	color: black;
}

table th {
	background-color: #202565;
	color: ghostwhite;
	font-weight: bold;
	font-size: 1.8rem;
	text-align: center;
}

.table-container {
	padding: 2rem 1rem;
}

.table-container h3 {
	font-size: 1.8rem;
	font-style: normal;
}

.table-container tfoot {
	background: #EEEEEE;
}

.table-container tfoot td {
	font-weight: bold;
}
